<form class="form" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Matrícula</mat-label>

    <input matInput formControlName="id" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>

    <input matInput formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellido</mat-label>

    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Compañía</mat-label>

    <mat-select formControlName="companyId">
      @for (company of (store.state$ | async)?.companies; track company.id) {
        <mat-option [value]="company.id">
          {{ company.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Programa</mat-label>

    <mat-select formControlName="programId">
      @for (program of (store.state$ | async)?.programs; track program.id) {
        <mat-option [value]="program.id">
          {{ program.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Fecha de inscripción</mat-label>

    <input matInput [matDatepicker]="picker" formControlName="enrollmentDate" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"> </mat-datepicker-toggle>

    <mat-datepicker #picker> </mat-datepicker>
  </mat-form-field>
</form>
