<form class="form" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>

    <input matInput formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>

    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Company</mat-label>

    <mat-select formControlName="companyId">
      @for (company of (store.state$ | async)?.companies; track company.id) {
        <mat-option [value]="company.id">
          {{ company.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Program</mat-label>

    <mat-select formControlName="programId">
      @for (program of (store.state$ | async)?.programs; track program.id) {
        <mat-option [value]="program.id">
          {{ program.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full">
    <mat-label>Enrollment date</mat-label>

    <input matInput [matDatepicker]="picker" formControlName="enrollmentDate" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"> </mat-datepicker-toggle>

    <mat-datepicker #picker> </mat-datepicker>
  </mat-form-field>
</form>
