table {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

th {
    font-weight: 600;
}

td,
th {
    padding: 0.75rem;
}

.mat-column-actions {
    width: 80px;
    text-align: center;
}